@media (max-width: 670px) {
    topheader .mobile {
        display: block;
    }

    topheader .pc {
        display: none;
    }

    .search-mobile-version{
        margin-top: 10px;
    }

    .fa-ellipsis-v {
        display: none;
    }
}